@import url('htpps://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500');

*{
	margin: 0;
	padding: 0;
	
	
}
.tieudelienhe{
	
	margin-left: 80px;
}
.thacmac
{
	margin: 10px;
	margin-left: 500px;
	font-size: 40px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lienhe{
	position: relative;
	
	display: grid;
	grid-template-columns: 300px 300px 300px 300px;
	margin: 20px;
	margin-top: 40px;
	margin-left: 50px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.lienhe .cards{
	position: relative;
	width: 300px;
	height: 400px;
	background: linear-gradient(#2196f3, #2196f3 30%, #1d3548 30%, #1d3548);
	margin: 10px;
	border-radius: 20px;
	overflow: hidden;
	transform-origin: top;
}

.lienhe .cards .imgBx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	z-index: 100000px;
	transform-origin: top;

}

.lienhe .cards:hover .imgBx{
	transform: translateY(30px) scale(0.5);
}

.lienhe .cards .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.lienhe .cards .content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 30px;
	transform: translateY(100%);
	transition: 0.5s;
}

.lienhe .cards:hover .content{
	transform: translateY(0);
}

.lienhe .cards .content .details{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.lienhe .cards .content .details h2{
	color: #fff;
	font-size: 1.5em;
	font-weight: 500;
}

.lienhe .cards .content .details h2 span{
	font-size: 0.8em;
	font-weight: 400;
	color: #03a9f4;
}

.social_icons{
	position: relative;
	display: flex;
	margin-top: 5px;
}

.social_icons li{
	list-style: none;
	margin: 4px;
}

.social_icons li a{
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #294d69;
	border-radius: 50%;
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
	transform: 0.5s;
}

.social_icons li a:hover{
	transform: rotate(360deg);
	background: #03a9f4;
}